{% extends 'base.html' %}
{% block title %}{{ book.title }}{% endblock %} 

{% block content %}
<div class="tile is-ancestor" style="flex-wrap: wrap">
        <div class="tile is-vertical is-3">
            <div class="tile">
                <div class="tile is-parent">
                    <article class="tile is-child notification is-info">
                        <img src="http://covers.openlibrary.org/b/isbn/{{ book.isbn }}-L.jpg">
                        <p class="title is-2">{{ book.title }}</p>
                        <p class="title is-4">
                            {% for author in book.author_names %}
                            {{ author }}
                            {{ "," if not loop.last }}
                            {% endfor %}
                        </p>
                        <time datetime="{{ book.year }}" class="subtitle is-5">
                            {{ book.year }}
                        </time>
                        <p class="subtitle is-5">Average rating: {{ rating }}</p>
                        <p class="subtitle is-6">ISBN: {{ book.isbn }}</p>
                    </article>
                </div>
            </div>
        </div>
</div>
  <a href="{{ url_for('index') }}">Search for more</a>

{% for review in reviews %}
<section class="section">
    <div class="container">
        <p class="title is-5">{{ review.rating }}</p>
        <p class="title is-6">{{ review.review }}</p>
        <p class="subtitle is-6">{{ review.reviewer }}</p>
    </div>
</section>
{% endfor %}

{% if enable_review == True %}
<form action="{{ url_for('book', isbn=book.isbn) }}" method="POST">
    <textarea class="textarea" name="review" placeholder="Write a review"></textarea>
    <div class="field is-grouped">
        <div class="control">
            <label class="radio">
                <input type="radio" name="rating" value="1">
                1
            </label>
            <label class="radio">
                <input type="radio" name="rating" value="2">
                2
            </label>
            <label class="radio">
                <input type="radio" name="rating" value="3">
                3
            </label>
            <label class="radio">
                <input type="radio" name="rating" value="4">
                4
            </label>
            <label class="radio">
                <input type="radio" name="rating" value="5" checked>
                5
            </label>
        </div>
    </div>
    <div class="control">
        <button class="button is-link">Submit</button>
    </div>
</form>
{% endif %}

{% endblock %}